defaults:
  - override hydra/job_logging: none

seed: 42

hydra:
  run:
    dir: .
  output_subdir: null

paths:
  data_dir: /data/scratch/convergence_maps/lsst_y10_lognormal
  output: maps_to_cosmology

convergence_maps:
  batch_size: 32
  num_workers: 4
  val_split: 0.1
  test_split: 0.1

encoder:
  num_bins: 5
  map_slen: 256
  hidden_dim: 128
  num_cosmo_params: 6
  lr: 1e-5
  var_dist:
    _target_: maps_to_cosmology.distributions.IndependentMVN
    num_params: ${encoder.num_cosmo_params}
    low_clamp: -14
    high_clamp: 10

train:
  trainer:
    max_epochs: 200
    accelerator: gpu
    devices: 1
    log_every_n_steps: 10
  logger:
    _target_: lightning.pytorch.loggers.TensorBoardLogger
    save_dir: ${paths.output}
    name: results
    version: ${now:%m-%d|%H:%M:%S}
    default_hp_metric: false
  callbacks:
    checkpoint:
      filename: "encoder_{epoch:02d}"
      monitor: val_loss
      mode: min
      save_top_k: 1
    early_stopping:
      monitor: val_loss
      patience: 50
      mode: min
